<div id="main-body" class="container">
        <div class="row">
            <div class="col-6 pe-5" id="create-courses-form">
                <h1 class="create-courses__title">
                    Tạo khóa học
                </h1>
    
                <div class="create-courses__body mt-5">
                    <div class="course__name mt-5">
                        <h3 class="input-label">Tên khóa học</h3>
                        <div class="course__edit">
                            <input type="text" name="name" class="course__input-text" minlength="50px" maxlength="70px" placeholder="Nhập tên khóa học">
                        </div>
                    </div>
                    <div class="course__description mt-5">
                        <h3 class="input-label">Mô tả</h3>
                        <div class="course__edit">
                            <textarea type="text" name="description" class="course__input-area" minlength="50px" maxlength="70px" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="course__img mt-5">
                        <h3 class="input-label">Hình ảnh</h3>
                        <div class="course__edit">
                            <div class="course__edit-img">
                                <input type="file" name="img" class="course__input-file" minlength="50px" maxlength="70px">
                                <img class="uploaded-img" src="http://i3.ytimg.com/vi/MGhw6XliFgo/maxresdefault.jpg" alt="avatar-img">
                            </div>
                        </div>
                    </div>
                    <div class="course__type mt-5">
                        <h3 class="input-label">Loại khóa học</h3>
                        <div class="course__edit">
                            <select class="form-select course__input-select course__input-select-type">
                                <option selected>--Chọn loại khóa học--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="course__level mt-5">
                        <h3 class="input-label">Trình độ</h3>
                        <div class="course__edit">
                            <select class="form-select course__input-select course__input-select-level">
                                <option selected>--Chọn trình độ--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 ps-5" id="create-lesson-form">
                <h1 class="create-lesson__title">
                    Thêm bài học
                </h1>

                <div class="create-lesson__body mt-5">
                    <div class="course__name mt-5">
                        <h3 class="input-label">Tên bài học</h3>
                        <div class="course__edit">
                            <input type="text" name="name" class="course__input-text" minlength="50px" maxlength="70px" placeholder="Nhập tên khóa học">
                            <button type="button" class="btn btn-outline-dark customize__edit-btn">Add</button>
                        </div>         
                    </div>

                    <table class="table lesson-list mt-5">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">ID</th>
                            <th scope="col" colspan="3">Tên bài học</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </th>
                            <th scope="row">1</th>
                            <td colspan="3">Mark</td>
                          </tr>
                         
                        </tbody>
                    </table>
                </div>

                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
    </div>