:root {
  --primary-color: #bcd0e0;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --facebook-color: #3b5998;
  --success-color: #28a745;
  --love-color: #e31b23;
  --angry-color: #c92929;
  --text-hightlight-color: rgb(116, 13, 13); }
