:root {
  --primary-color: #bcd0e0;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --facebook-color: #3b5998;
  --success-color: #28a745;
  --love-color: #e31b23;
  --angry-color: #c92929;
  --text-hightlight-color: rgb(116, 13, 13); }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

.btn {
  font-size: 1.4rem; }

.btn.btn-dark-outline {
  border-radius: 50px;
  border: solid 2px; }

.btn.btn-dark-outline:hover {
  background-color: var(--black-color);
  border: solid 2px var(--white-color);
  color: var(--white-color); }

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem; }

.modal-title {
  font-size: 2.2rem;
  font-weight: 600;
  padding-left: 1rem; }

.modal-body {
  padding: 3rem; }

.modal-header {
  background-color: var(--primary-color); }

input {
  font-size: 1.4rem !important; }

.active {
  display: block !important; }
