<nav class="navbar navbar-expand-lg navbar-light bg-light header__navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./LapsCenter-icon.png" alt="logo" class="navbar-brand__logo">
            <span class="navbar-brand__name">Edu Center</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="user_drop-down-avatar" src="https://scontent.fdad3-5.fna.fbcdn.net/v/t1.6435-9/242492738_115452684205599_6130258319888075774_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=a4a2d7&_nc_ohc=Btxw4rzT5CAAX8fsVeZ&_nc_ht=scontent.fdad3-5.fna&oh=9c2e7fba6f067160fbeacb5eb52bc7c9&oe=61A0F0F1" alt="avt-img">
                        Lap Nguyen
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark user__drop-down" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item user__drop-down-item" href="#">Khóa học của tôi</a></li>
                        <li><a class="dropdown-item user__drop-down-item" href="#">Cài đặt tài khoản</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item user__drop-down-item" href="#">Đăng xuất</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </ul>
        </div>
    </div>
</nav>